doctype html
html
    head
        title #{title}
        block styles
        link(rel='stylesheet', href='/css/styles.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
   
    body
        block navbar

        block content