extends default

block content
    div.login
        h1
            
            div Welcome to Slipstream
            div Please Log In

        form(action="/login" method="POST")
            div Username
            input(type="text" name="userName")
            br
            div Password
            input(type="password" name="password")
            br
            input(type="submit" value="Login").button

        br

        a(href="/Login/Register").button Register
