extends default

block content
    div.loginBackground
        div.login
            h1
                
                div Welcome to Slipstream
            h2
                div Please Log In
            br
            form(action="/login" method="POST")
                div Username
                input(type="text" name="userName")
                br
                div Password
                input(type="password" name="password")
                br
                input(type="submit" value="Login" style="font-size: 16px; margin-top: 15px;").button

            br
            br
            a(href="/Login/Register").buttonDark Register
