extends default
block navbar
    - var links = ["/", "/Forum", "/Tips", "/Map"]
    - var pageNames = ["Home", "Forum", "Tips", "Map"]
    nav
        ul
            li
                img(src="/logo.png")
            li
                div(style="margin:30px;")

            - var num = 0
            while num < links.length
                li
                    if active == pageNames[num]
                        a(href=links[num] class="active")= pageNames[num]
                    else
                        a(href=links[num])= pageNames[num]  
                - num++
            //li(style="float:right;")
            //    div(style="margin:5px;")
            li(style="float:right;" class="dropDown")
                a(class="dropDownButton")= userName
                div(class="dropDownContent")
                    a(href=`/Users/${userName}`) settings
            

    div(style="margin:70px;")
