extends default
block navbar
    // the navigation bar 
    - var links = ["/", "/Forum", "/Tips", "/Map"]
    - var pageNames = ["Home", "Forum", "Tips", "Map"]
    nav
        ul
            li
                img(src="/logo.jpg").logo
            li
                div.separator

            - var num = 0
            while num < links.length
                li
                    if active == pageNames[num]
                        a(href=links[num] class="active")= pageNames[num]
                    else
                        a(href=links[num])= pageNames[num]  
                - num++

            li(style="float:right;" class="dropDown")
                if userName
                    a(class="dropDownButton")= userName
                    div(class="dropDownContent")
                        a(href=`/Users/${userName}`) Settings
                        a(href=`/Friends`) Friends
                        form(action = "/Login/Logout" method = "POST")
                                input(type="submit" value="Logout" style="-webkit-appearance: none;")

                else
                    a(href="/Login") Login
            

