extends defaultb
block navbar
    // the navigation bar 
    - var links = ["/", "/Forum", "/Tips", "/Map"]
    - var pageNames = ["Home", "Forum", "Tips", "Map"]
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
        //logos
        //img(src="/logo.jpg").logo
        a.navbar-brand(href='#') Slipstream

        //togglers
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample03', aria-controls='navbarsExample03', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

        //list of options
        ul.navbar-nav.mr-auto
            while num < links.length
                li.nav-item.active
                    a.nav-link(href=links[num] class="active")= pageNames[num]
                - num++
        ul.navbar-nav.float-right
            li.nav-item.dropdown
            a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') UserName
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='#') Friends
            a.dropdown-item(href='#') Profile
            a.dropdown-item(href='#') Settings
            //a logout button?
