extends default

block navbar
    <div class="grid-container">
        div.header #{title}
        div.nav
            a(href='/') Home
            
            a(href='/author-management') Manage Authors
