extends defaultb
block navbar
    // the navigation bar 
    - var links = ["/", "/Forum", "/Tips", "/Map"]
    - var pageNames = ["Home", "Forum", "Tips", "Map"]
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        //logos
        img(src="/logo.jpg").logo

        //list of options
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            //span.navbar-toggler-icon
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                - var num = 0
                while num < links.length
                    li.nav-item
                        if active == pageNames[num]
                            a.nav-link(href=links[num] class="active")= pageNames[num]
                        else
                            a.nav-link(href=links[num])= pageNames[num]  
                    - num++
            ul.navbar-nav.float-right
                li.nav-item.dropdown
                    //button.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")=userName
                    //.dropdown-menu(aria-labelledby="dropdownMenuButton")
                    a.nav-link.dropdown-toggle(id="navbarDropdown" role="button" data-toggle="dropdown")=userName
                        //span.caret
                    .dropdown-menu(id="navbarDropdown")
                        a.dropdown-item(href=`/Users/${userName}`) Settings
                        a.dropdown-item(href=`/Friends`) Friends
                        form.dropdown-item(action = "/Login/Logout" method = "POST")
                            input(type="submit" value="Logout")
