extends default



block navbar
    - var links = ["/", "/Forum", "/Tips"]
    - var pageNames = ["Home", "Forum", "Tips"]
    nav
        ul
            li
                img(src="/logo.png" width="42" height="45")

            - var num = 0
            while num < links.length
                li
                    if active == pageNames[num]
                        a(href=links[num] class="active")= pageNames[num]
                    else
                        a(href=links[num])= pageNames[num]  
                - num++

    div(style="margin:60px")
