:root {
    --main-colour: #377750;
    --secondary-colour: rgb(69, 199, 112);
    --highlite-colour: #F7FFF7;
    --background-colour: #444444;
    --white: #F1F1F1;
}


body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/login.jpg");
    background-size: cover;
    background-position: centre;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
}

a {
    margin: 20px;
    margin-top: 5px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--white);
    border: none;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: var(--secondary-colour);
    color: white;
} 