:root {
    --main-colour: #377750;
    --secondary-colour: rgb(69, 199, 112);
    --highlite-colour: #F7FFF7;
    --background-colour: #444444;
    --white: #F1F1F1 !important;
}
img.logo{
    width: 64px;

    height: 65px;
}


h1, h3, h2 {
    color: var(--main-colour);
}

/* navbar */
.dropdown-menu {
	right: 0;
	left:auto !important;
}

.dropDownButton {
    text-align: center;
    width: 60px;
    display: block;
}

.container{
	width: 50% !important;
	min-width: 500px;
}

form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*padding: 0 50px;*/
	/*height: 100%;*/
	text-align: center;
}

.form-control{
	width:100%
}

input{
	background-color: white;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	outline: none;
	font-size: 15px;
}

body {
    background-color: var(--white) !important;
    width: 100%;
    /*min-width: 500px;*/
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    height: 100%;
    margin: 0 auto !important;
    display: block;
    /*margin-top: 80px;*/
}

div.table {
    padding: 0px;
}

div.table ul {
    margin: 4px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    background-color: white;
    list-style-type: none;
    color: black;
}

div.table a.articleButton{
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
}

div.table div.title{
    font-size: 20px;
    color: black;
}

div.table .author{
    color: grey;
}

div.table div.comment{
    color: black;
}

div.table div.comment_author{
    font-size: 10px;
    color: grey;
}



form.createArticle input[name="title"] {
    border: 1px solid grey;
    width: 100%;
    /*width: 45%;*/
}

form.createArticle textarea {
    border: 1px solid grey;
    width: 100%;
    /*width: 45%;*/
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

div.login {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0 8px 20px 0  rgba(0,0,0,0.2);
    width: 30%;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

div.login form input {
    padding: 5px;
}

div.login form input[type="submit"] {
    margin-top: 5px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--secondary-colour);
    border: none;
    color: black;
    text-decoration: none;
}

div.login form input[type="submit"]:hover {
    background-color: var(--main-colour);
    color: white;
} 

.error {
    margin-top: 20px;
    background-color: rgb(255, 162, 162);
    border: 4px solid red;
    border-radius: 3px;
    padding: 18px;
    width: 30%;
    margin: 0 auto;
}

.button {
    font-size: 16px;
    display: inline-block;
    /*margin: 10px;*/
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--secondary-colour);
    border: none;
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: var(--main-colour);
    color: white;
} 

.buttonDark {
    
    display: inline-block;
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--main-colour);
    border: none;
    color: white;
    text-decoration: none;
}

.buttonDark:hover {
    background-color: var(--highlight-colour);
    color: black;
} 

/* 主页样式 */
* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: 150px 20px 20px;
    text-align: center;
}
.left {
    display: flex;
    flex: 2;
    padding: 20px;
    margin-right: 20px;
}
.right {
    flex:1
}
.left,.right {
    border-radius:  16px;
    /*border: 1px solid #000;*/
}
.desImg {
    flex:2;
    /*border: 1px solid #000;*/
    margin:0 15px;
    border-radius: 16px;
    box-shadow:0 8px 20px 0 rgba(0,0,0,.2);
    background-color:#fff;
}
.desLeft,.desRight {
    display: flex;
    flex:1;
    flex-direction: column;
}
.desLeft>div,.desRight>div,.rankItem {
    padding: 20px 10px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow:0 8px 20px 0 rgba(0,0,0,.2);
    background-color:#fff;
}

.des-title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
   color: var(--main-colour);
}
.desLeft>div,.desRight>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desRight {
    align-items: flex-start;
}
.ranks {
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    max-height: 400px;
}
.rankItem {
    display: flex;
}
.rankTitle {
    padding: 20px 0;
}
.rankItem>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rankNumber {
    flex:1
}
.rankDes {
    flex:6;
    align-items: center;
}

#map {
    height: 100%;
  }
/* Optional: Makes the sample page fill the window. */


#floating-panel {
position: absolute;
top: 10px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}

/* Tip页 */

.tipList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tipList .tipContainer {
    text-align: top;
    
    box-shadow: 0 8px 20px 0  rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding:15px;
    height: 150px;
    background-color: #fff;

    
}

.tipList .tipContainer:hover {
    transform: scale(1.1);
    
    transition: all 1s;
}

.tipList li:nth-child(3n){
    margin-right: 0;
}
.tipList .title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
}
.tipList .tipsInfo {
    font-size: 16px;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.tipList li {
    flex: 1;
    box-sizing: border-box;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    padding: 20px;
    margin-bottom: 10px;
}
ul.friends{
    list-style-type: none;
    align-items: center;
}

ul.request{
    list-style-type: none;
    align-items: center;
}
ul.friend{
    display :flex;
    align-items: center;
    list-style-type: none;
    padding : 2px 0px;
}

ul.request{
    display :flex;
    align-items: center;
    list-style-type: none;
    padding : 2px 0px;
}

form.friendsearchbar{
    padding: 10px;
    padding-left: 0px;
    display: flex;
}

ul.stat{
    list-style-type: none;
}

.leftS{
    width:48%;
}
.rightS{
    float: right;
    width:48%;
    text-align: left;
}
