h1 {
    color: red;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

nav li {
    padding: 0;
    margin: 0;
    float: left;
}

nav li a {
    text-align: center;
    width: 60px;
    display: block;
    padding-top: 18px;
    padding-bottom: 28px;
    min-width: 90px;
    background-color: olive;
    color: white;
    text-decoration: none;
}

.dropDownButton {
    text-align: center;
    width: 60px;
    display: block;
}

nav li a.active {
    background-color: green;
}

nav li a:hover {
    background-color: red;
}
nav li.dropDown {
    display: inline-block;
}

nav .dropDownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

nav .dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDown:hover .dropDownContent {
    display: block;
}

img {
    vertical-align: middle;
}
