:root {
    --main-colour: #377750;
    --secondary-colour: rgb(69, 199, 112);
    --highlite-colour: #F7FFF7;
    --background-colour: #444444;
    --white: #F1F1F1;
}
nav img.logo{
    width: 64px;

    height: 65px;
}


h1, h3, h2 {
    color: var(--main-colour);
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    box-shadow: 0 10px 20px 0  rgba(0,0,0,0.3);
}

nav .separator {
    margin: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-colour);
}

nav li {
    padding: 0;
    margin: 0;
    float: left;
}

nav li a {
    text-align: center;
    width: 60px;
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
    min-width: 90px;
    background-color: var(--main-colour);
    color: white;
    text-decoration: none;
}

.dropDownButton {
    text-align: center;
    width: 60px;
    display: block;
}

nav li a:hover {
    color: black;
    background-color: var(--highlite-colour);
}

nav li.dropDown {
    display: inline-block;
}

nav .dropDownContent {
    margin-right: 0;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    right: 0;
}

nav .dropDownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropDownContent input[type="submit"] {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: var(--main-colour);
    font-size: 16px;
    width: 100%;
    border: none;

}
nav .dropDownContent input[type="submit"]:hover {
    color: black;
    background-color: var(--highlite-colour);
}

.dropDown:hover .dropDownContent {
    display: block;
}

img {
    vertical-align: middle;
}



div.loginBackground {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: 300px;
    background-image: url("/logoSparse.png");
}

body {
    
    background-color: var(--white);
    width: 50%;
    min-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

div.table {
    padding: 0px;
}

div.table ul {
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    background-color: white;
    list-style-type: none;
    color: black;
}

div.table a.articleButton{
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
}

div.table div.title{
    font-size: 20px;
    color: black;
}

div.table .author{
    color: grey;
}

div.table div.comment{
    color: black;
}

div.table div.comment_author{
    font-size: 10px;
    color: grey;
}



form.createArticle input[name="title"] {
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 5px;
}

form.createArticle textarea {
    border: 1px solid grey;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

div.login {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0 8px 20px 0  rgba(0,0,0,0.2);
    width: 30%;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

div.login form input {
    padding: 5px;
}

div.login form input[type="submit"] {
    margin-top: 5px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--secondary-colour);
    border: none;
    color: black;
    text-decoration: none;
}

div.login form input[type="submit"]:hover {
    background-color: var(--main-colour);
    color: white;
} 

.error {
    margin-top: 20px;
    background-color: rgb(255, 162, 162);
    border: 4px solid red;
    border-radius: 3px;
    padding: 18px;
    width: 30%;
    margin: 0 auto;
}

.button {
    font-size: 16px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--secondary-colour);
    border: none;
    color: black;
    text-decoration: none;
    -webkit-appearance: none;
    transition: transform 80ms ease-in;
    border-radius: 3px;
}

.button:active{
	transform: scale(0.93);
}

.button:hover {
    background-color: var(--main-colour);
    color: white;
} 

.buttonDark {
    
    display: inline-block;
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--main-colour);
    border: none;
    color: white;
    text-decoration: none;
}

.buttonDark:hover {
    background-color: var(--highlight-colour);
    color: black;
} 

/* 主页样式 */
* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px 20px;
    text-align: center;
}
.left {
    display: flex;
    flex: 2;
    padding: 20px;
    margin-right: 20px;
}
.right {
    flex:1
}
.left,.right {
    border-radius:  16px;
   /* border: 1px solid #000;*/
}
.desImg {
    flex:2;
    /*border: 1px solid #000;*/
    box-shadow:0 8px 20px 0 rgba(0,0,0,.2);
    margin:0 15px;
    border-radius: 16px;
     background-color:#fff;
}
.desLeft,.desRight {
    display: flex;
    flex:1;
    flex-direction: column;
}
.desLeft>div,.desRight>div,.rankItem {
    padding: 20px 10px;
    /*border: 1px solid #000;*/
   /* width: 100%;*/
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow:0 8px 20px 0 rgba(0,0,0,.2);
    background-color:#fff;
}

.desLeft>div,.desRight>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desRight>div{
    width: 100%;
}
.desRight {
    align-items: flex-start;
}
.ranks {
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    max-height: 400px;
}
.rankItem {
    display: flex;
}
.rankTitle {
    padding: 20px 0;
}
.rankItem>div {
    display: flex;
   /* flex-direction: column;
    align-items: center;
    justify-content: center;*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rankNumber {
    flex:1
}
.rankDes {
    flex:6;
    align-items: center;
}

#map {
    height: 100%;
  }
/* Optional: Makes the sample page fill the window. */



/* Tip页 */

.flextable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tipContainer {
    text-align: top;
    box-shadow: 0 8px 20px 0  rgba(0,0,0,0.2);
    align-items: center;
    text-decoration: none;

    padding:15px;
    margin: 20px;

    height: 170px;
    width: 120px;
    background-color: #fff;

    
}

.tipContainer:hover {
    transform: scale(1.1);
    
    transition: all 1s;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.tipList li {
    flex: 1;
    box-sizing: border-box;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    padding: 20px;
    margin-bottom: 10px;
}
ul.friends{
    list-style-type: none;
    align-items: center;
}

ul.request{
    list-style-type: none;
    align-items: center;
}
ul.friend{
    display :flex;
    align-items: center;
    list-style-type: none;
    padding : 2px 0px;
}

ul.request{
    display :flex;
    align-items: center;
    list-style-type: none;
    padding : 2px 0px;
}

form.friendsearchbar{
    padding: 10px;
    padding-left: 0px;
    display: flex;
}

ul.stat{
    list-style-type: none;
}

.leftS{
    width:48%;
}
.rightS{
    float: right;
    width:48%;
    text-align: left;
}

.container{
    width: 50% !important;
    min-width: 500px;
   
}
.top>h2{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    width: 100%;
    margin: 0 auto;
}

.flexSettings {
    display: flex;
    
    justify-content: center;
}


@media screen and (max-width: 600px) {
    nav ul {
        background-color: var(--main-colour);
    }

    nav img.logo {
        visibility: hidden;
        width: 0px;
    }

    nav li a {
        min-width: 60px;
    }

    nav .separator {
        margin: 0;
    }

    body {
        min-width: 0px;
        width: 95%;
        font-size: 15px;
    }

    nav li a:hover {
        color: white;
        background-color: var(--main-colour);
    }

    nav .dropDownContent input[type="submit"]:hover {
        color: white;
        background-color: var(--main-colour);
    }

    form.createArticle input[name="title"]{
        width: 100%;
    }

    form.createArticle textarea {
        width: 100%;
    }

    .tipContainer {
        margin: 10px;
    }

    nav .dropDownContent input[type="submit"] {
        font-size: 15px;
    }

    .button {
        font-size: 15px;
    }

    .flexSettings {   
        margin-bottom: 10px;
        flex-direction: column;
    }

    .table ul li p{
        margin-bottom: 20px;
    }

    .time{
        margin-top: -25px !important;
    }

    .auth{
        margin-top: -40px !important;
    }


}