extends ../navbar
block styles
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    link(rel='stylesheet',href='/css/onlybootstrap.css')
block content
    .jumbotron
        .container
            h1(class="jum-h1") Hello, biker!
            p(class="jum-p") | This is the dashboard!


    //displays a list of all the tips in the system

    //lists out all the tips in the system
    .container
        h2 List of Tips
        div.table
            ul.tipList(style="background-color: var(--white); padding-right: 0;")
                each tip in current_tips    
                    li 
                        //list item 
                        div.tipContainer
                            h2.title #{tip.title}
                            div.tipsInfo #{tip.body}
