extends ../navbar

block content
    h2 List of Tips
        div.table
            ul.tipList
                each tip in current_tips    
                    li
                        div.tipContainer
                            div.title #{tip.title}
                            div.tipsInfo #{tip.body}
