extends ../navbar

block content
    h2 List of Tips
        div.table
            each tip in current_tips
                    ul
                        li
                            a(href = '/tips/' + tip.tipNum) 
                                div.title #{tip.title}
                                
