extends ../navbar

block content
    //displays a list of all the tips in the system
    div(class="top" ) 
        h2 Tips for the trip!
    //lists out all the tips in the system
    //h2 List of Tips
    div.flextable
        each tip in current_tips    
            div.tipContainer
                h2.title #{tip.title}
                div.tipsInfo #{tip.body}
