extends ../navbar

block content
    // a page used to enter the changes to a comment

    // gives an option to change an comment
    if ([article.comments[commentIndex]].commentAuthor == useName)
        form(action= ("/forum/" + articleNum + "/" + commentNumber + "/edit") method="POST").createArticle
            div Edit comment
            textarea(name="commentBody" required)= article.comments[commentIndex].commentBody
            br
            input(type="submit" value="Edit Comment" style="margin-left:0").button
        
        
            
    