extends ../navbar

block content

    form(action= ("/forum/" + currentArticle.articleNum + "/edit") method="POST")
        div Title
        input(type="text" name="title")
        br
        div Body
        input(type="text" name="body")
        br
        input(type="submit" value="Change")