extends ../navbar

block content

     div.main
        
        form(action="/forum" method="POST" class="createArticle")
            p Create a new article!
            div Title
            input(type="text" name="title" required)
            br
            div Body
            textarea(name="body")
            br
            input(type="submit" value="Post")
        
        div.table
            h2 List of Articles
            each article in current_articles
                    ul
                        li
                            a(href = '/Forum/' + article.articleNum)
                                div.title #{article.title}
                                
                                div.author Author: #{article.author}
                                div.author Comments: #{article.comments.length}