extends ../navbar

block content

    
    
    div.table
        h2 List of Articles
        each article in current_articles
                ul
                    li
                        a(href = '/Forum/' + article.articleNum).articleButton
                            div.title(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width: 100%;") #{article.title}
                            div.author(style = "float: right") Posted: #{article.time}
                            div.author From: #{article.author}                            
                            div.author Comments: #{article.comments.length}

    hr

    form(action="/forum" method="POST" class="createArticle")
        h2 Create a New Article!
        div Title
        input(type="text" name="title" required)
        br
        div Body
        textarea(name="body")
        br
        input(type="submit" value="Post" style="margin:0").button