extends ../navbar

block content

    
    
    div.table
        h2 List of Articles
        each article in current_articles
                ul
                    li
                        a(href = '/Forum/' + article.articleNum).articleButton
                            div.title #{article.title}
                            div.author From: #{article.author}                            
                            div.author Comments: #{article.comments.length}


    form(action="/forum" method="POST" class="createArticle")
        h2 Create a New Article!
        div Title
        input(type="text" name="title" required)
        br
        div Body
        textarea(name="body")
        br
        input(type="submit" value="Post")