doctype html
html
    
    head
        title #{title}
        

        link(rel='stylesheet', href='/css/loggedOut.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
   
    body
        //Alice to do this
        h1 Welcome to Slipstream
        a(href="/Login") login
        a(href="/Login/Register") Sign up
        br
        h2 Riding a bike saves an average 260g of carbon per Kilometer over driving a car
        h2 Start your environmental journey today, by signing up for Slipstream
        h2 We offer:
        ul
            li
                h2 A growing community of like minded individuals
            li
                h2 A cycle tracker, to 