doctype html
html
    head
        link(rel='stylesheet', href='/css/loggedOut.css')
    
    //Welcome page, page that lead to log in page
    body
        div(class="all")
            div(class="up")
                div
                    span Same precision level as Google map
                    span Easy bike path planing
                    span Bike Path records
                    span Personal profile
                    span Friends community
            div(class="down")
                div Slipstream
                    a(href="/login")
                        p(id="go") Start Your journey                