doctype html
html
	head
		link(rel='stylesheet' href='/css/map/map.css')
	body
		div(id="navigation")
			a(class = "a1" href='/') Home
			a(class = "a2" href='/Forum') Forum
			a(class = "a3" href='/Tips') Tips
			a(class = "a4" href=`/Users/${userName}`) Setting
			a(href=`/Friends`) Friends
			form(action="/Login/Logout" method="POST")
				input(type="submit" value= "Logout")
		p FAIL-Probably a fun post here
		form(action="/Map" method="get")
			input(type="submit" value="AnotherRide")