extends ../navbar
block styles
	link(rel='stylesheet', href='/css/map_total.css')
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
//-
	div postwall:
		four image that will do Automatic Slideshow. Which post the info about our web service
		the four dudu button will just change shadow and if you click will change page to indicate which page is on
		ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto
	div start:
		the boxes contain the start which will direct you to the real map page
	div saved:
		the boxes such contain historical most visited/tried route which we considered as most interested
		this will show the top 6 through a sliding bar but if you have less than 6 in record. The message will just show waiting for your exploration
	script:
		3 functions:
			showSlides() automatic change slides every 6 secs
			changepic(ele) change slides if user click so
			insertRoad(ele) insert the road to start div/s form if there is actual origin/destinaiton instead of placeholder

block content
	div(id="postwall")
		div(class="mySlides")
			img(class = "timage" src = "../home_0.jpg" )
			div(class="text") Route
				p same precision level as google map
		div(class="mySlides")
			img(class = "timage" src = "../home_1.jpg" )
			div(class="text") Energy
				p protect environment and burn calories
		div(class="mySlides")
			img(class = "timage" src = "../home_2.jpg" )
			div(class="text") Trace
				p simple path planning and recording
		div(class="mySlides")
			img(class = "timage" src = "../home_3.jpg" )
			div(class="text") Community
				p friends community and real time articles
		a(href="#start")
			i(id = "down" class="fa fa-angle-down" style="font-size:128px")
		div(id = "dududu" style="text-align:center")
			span(id = "dudu1" class="dot" onclick = "changepic(this)")
			span(id = "dudu2" class="dot" onclick = "changepic(this)")
			span(id = "dudu3" class="dot" onclick = "changepic(this)")
			span(id = "dudu4" class="dot" onclick = "changepic(this)")

		
	div(id="start")
		img(id="start_img" src = "../start.jpg")
		div(id = "go")
			form(action="/Map/route" method="POST" id="start_form")
				input(type="text" id="origin" name="origin" placeholder="Origin")
				input(type="text" id="destination" name="destination" placeholder="Destination")
				br
				br
				input(type="submit" value="GO" id = "_go")
				input(type="submit" formaction="/Map/deleteRoute" style="display:none;" id="_deletee")
	div(id="saved")
		img(id = "plan_img" src="../plan.jpg")
		div(id="containroute")
			ul(class="roads")
				each route in routes
					li(class="roadli")
						img(class="roading" src="/logo.jpg")
						div(class="roading_info" style="height:100%;width:60%;float:left;"  onclick="insertRoad(this)")
							if route["destination"] == "---"
								h3(class="roadh3") Waiting for your exploration
							else
								h3(class="roadh3") #{route["destination"]}
							p(class="roadp") Origin: #{route["origin"]} 
							p(class="roadp") Destination: #{route["destination"]}
							p(class="roadp") Total Trial: #{route["totalTrial"]}
						button(class="_delete" onclick="delete_route(this)") X
						
	
	script.
		var slideIndex = 0;
		showSlides();
		function showSlides(){
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			for(i = 0; i < slides.length; i++){
				slides[i].style.display = "none";
			}
			slideIndex++;
			if (slideIndex > slides.length) {slideIndex = 1}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex-1].style.display = "block";  
			dots[slideIndex-1].className += " active";
			setTimeout(showSlides, 6000);
		}

		function changepic(ele){
			const ii = parseInt(ele.id.slice(4));
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			for(i = 0; i < slides.length; i++){
				slides[i].style.display = "none";
			}
			slideIndex = ii;
			if (slideIndex > slides.length) {slideIndex = 1}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex-1].style.display = "block";  
			dots[slideIndex-1].className += " active";
		}
		function insertRoad(ele){
			const ori = ele.childNodes[1].innerHTML.slice(8).trim();
			const des = ele.childNodes[2].innerHTML.slice(13).trim();
			if(ori != "---"){
				document.getElementById("origin").value = ori;
				document.getElementById("destination").value = des;
			}
			document.getElementById("_go").click();
		}

		function delete_route(ele){
			const ori = ele.parentElement.childNodes[1].childNodes[1].innerHTML.slice(8).trim();
			const des = ele.parentElement.childNodes[1].childNodes[2].innerHTML.slice(13).trim();
			if(ori !="---"){
				document.getElementById("origin").value = ori;
				document.getElementById("destination").value = des;
				document.getElementById("_deletee").click();
			}
		}