extends ../navbar
block styles
	link(rel='stylesheet', href='/css/map_total2.css')
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
block content
	div(id = "map" style="height:100vh;")
	div(id = "pannel")
		div(id="box")
			div(id="go_button" onclick="show_form()")
				i(class="fa fa-bicycle" id="ic1")
				p(id="icp1") Search Route
			div(id="saved_button" onclick="show_saved()")
				i(class="fa fa-cloud" id="ic2")
				p(id="icp2") Saved Route
			div(id="input_form")
				div(class="X")
					i(onclick="back()" class="fa fa-times")
				h2(style="margin-left:10%;font-size:30px;") Where To
				form(action="/Map/route" method="POST" id="start_form")
					input(type="text" id="origin" name="origin" placeholder="Origin")
					input(type="text" id="destination" name="destination" placeholder="Destination")
					br
					br
					input(type="submit" value="LET'S GO" id = "go_go")
					input(type="submit" formaction="/Map/deleteRoute" style="display:none;" id="dd_deletee")
				img(src = "../D (1).jpg")
			div(id="saved_route")
				div(class="X")
					i(onclick="back()" class="fa fa-times")
				div(id="saved_list")
					ul
						each route in routes
							li(style="list-style-type: none;")
								div(class="roadli" onclick="insert_and_go(this)" )
									if route["destination"] == "---"
										h3 Waiting for your exploration
									else
										h3 #{route["destination"]}
									p Origin: #{route["origin"]} 
									p Destination: #{route["destination"]}
									p Total Trial: #{route["totalTrial"]}
								div(class="delete_button_container")
									button(class="delete_button" onclick="delete_route(this)")
										i(class="fa fa-times")
					
					img(id = "logo" src="../logo.jpg")
	script.
		function insert_and_go(ele){
			const ori = ele.childNodes[1].innerHTML.slice(8).trim();
			const des = ele.childNodes[2].innerHTML.slice(13).trim();
			if(ori != "---"){
				document.getElementById("origin").value = ori;
				document.getElementById("destination").value = des;
			}
			document.getElementById("go_go").click();
		}
		function delete_route(ele){
			const ori = ele.parentElement.parentElement.childNodes[0].childNodes[1].innerHTML.slice(8).trim();
			const des = ele.parentElement.parentElement.childNodes[0].childNodes[2].innerHTML.slice(13).trim();
			if(ori != "---"){
				
				document.getElementById("origin").value = ori;
				document.getElementById("destination").value = des;
				
				document.getElementById("dd_deletee").click();
			}
		}
	script.
		function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -37.84, lng: 144.946457},
			zoom: 12,
			styles: [
				{
				"elementType": "geometry",
				"stylers": [
				{
				"color": "#212121"
				}
				]
				},
				{
				"elementType": "labels.icon",
				"stylers": [
				{
				"visibility": "off"
				}
				]
				},
				{
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#757575"
				}
				]
				},
				{
				"elementType": "labels.text.stroke",
				"stylers": [
				{
				"color": "#212121"
				}
				]
				},
				{
				"featureType": "administrative",
				"elementType": "geometry",
				"stylers": [
				{
				"color": "#757575"
				}
				]
				},
				{
				"featureType": "administrative.country",
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#9e9e9e"
				}
				]
				},
				{
				"featureType": "administrative.locality",
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#bdbdbd"
				}
				]
				},
				{
				"featureType": "poi",
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#757575"
				}
				]
				},
				{
				"featureType": "poi.park",
				"elementType": "geometry",
				"stylers": [
				{
				"color": "#181818"
				}
				]
				},
				{
				"featureType": "poi.park",
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#616161"
				}
				]
				},
				{
				"featureType": "poi.park",
				"elementType": "labels.text.stroke",
				"stylers": [
				{
				"color": "#1b1b1b"
				}
				]
				},
				{
				"featureType": "road",
				"elementType": "geometry.fill",
				"stylers": [
				{
				"color": "#2c2c2c"
				}
				]
				},
				{
				"featureType": "road",
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#8a8a8a"
				}
				]
				},
				{
				"featureType": "road.arterial",
				"elementType": "geometry",
				"stylers": [
				{
				"color": "#373737"
				}
				]
				},
				{
				"featureType": "road.highway",
				"elementType": "geometry",
				"stylers": [
				{
				"color": "#3c3c3c"
				}
				]
				},
				{
				"featureType": "road.highway.controlled_access",
				"elementType": "geometry",
				"stylers": [
				{
				"color": "#4e4e4e"
				}
				]
				},
				{
				"featureType": "road.local",
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#616161"
				}
				]
				},
				{
				"featureType": "transit",
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#757575"
				}
				]
				},
				{
				"featureType": "water",
				"elementType": "geometry",
				"stylers": [
				{
				"color": "#000000"
				}
				]
				},
				{
				"featureType": "water",
				"elementType": "labels.text.fill",
				"stylers": [
				{
				"color": "#3d3d3d"
				}
				]
				}
				]
			});
		}
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3bEc0lmQ6WNX_Cl98IRfu1E5DRLiG2pE&callback=initMap").
	script.
		function show_form(){
			document.getElementById("go_button").style.display="none";
			document.getElementById("saved_button").style.display="none";
			document.getElementById("input_form").style.display="block";
		}
		function show_saved(){
			document.getElementById("go_button").style.display="none";
			document.getElementById("saved_button").style.display="none";
			document.getElementById("saved_route").style.display="block";
		}
		function back(){
			document.getElementById("go_button").style.display="block";
			document.getElementById("saved_button").style.display="block";
			document.getElementById("input_form").style.display="none";
			document.getElementById("saved_route").style.display="none";
		}