doctype html
html
	head
		title Welcome
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="/css/map/welcome.css")
		
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Kavoon')
	body(class="bgimg")
		div(class="display")
			h1 Slipstream
			h2 Our Service
			ul
				li(class="l1") Same precision level as Google map
				li(class="l2") Easy bike path planing
				li(class="l3") Bike Path records
				li(class="l4") Personal profile
				li(class="l5") Friends community
				li(class="l6") More waiting for your discovery 
			a(href="/login") Start Your journey