#map {
        height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map{
  width: 49vw;
  height: 49vh;
}
#floating-panel {
  border: solid;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  float: left;
  width:38%;
  height:20%;
  margin-left: 1%;
}
#buttons{
  width:49vw;
  height: 49vh;
  border: solid;
  float: left;
}
/*
#_origin{
  display: none;
}
#_end{
  display: none;
}
*/
li{
  border: solid;
}
#navigation{
  width: 100%;
  border: solid;
  height: 10%;
}
#map{
  width: 90%;
  height: 90%;
  border:solid;
  border-color: red;
  margin-left: 5%;
  margin-top:5%;
}
#mapcontainer{
  width: 60%;
  border:solid;
  height: 90%;
  border-color: red;
  float:left;
}
#routeinfo{

  border: solid;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  float: left;
  width:38%;
  height:20%;
  margin-left: 1%;
}
#savedRoute{
   border: solid;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  float: left;
  width:38%;
  height:49%;
  margin-left: 1%;
  overflow: auto;
}
#hault, #end{
  display: none;
}
#realtimeroad{
  float: left;
  height: 35%;
  width: 38%;
  border: solid;
  margin-left: 1%;
  border-color: green;
}
#routecontroller{
  float: left;
  height: 5%;
  width: 38%;
  border: solid;
  margin-left: 1%;
  border-color: blue;
}
#streetView{
  float: left;
  height: 45%;
  width: 38%;
  border: solid;
  margin-left: 1%;
}
#viewmap, #pano {
  float: left;
  height: 100%;
  width: 49%;
}
#lat, #lng{
  display: none;
}