body{
	background-image: url('./pic/homepage.jpg');
	background-repeat: repeat;
	background-size: 100%;
	height: 100%;
	margin:0;
}
.div_1{
	position: relative;
	width: 58%;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 2%;

}
img{
	opacity: 0.3;
	width: 150px;
}

h1{
	font:bold 40px/1.5 "Comic Sans MS", cursive, sans-serif;
}
.roadul{
	column-count: 2;
	list-style-type: none;
  	width: 1000px;
}

.roadh3{
	margin:0;
	padding:0;
	font: bold 20px/1.5 "Comic Sans MS", cursive, sans-serif;
}

.roadimg{
	float: left;
	margin: 0 15px 0 0;
}

.roadp{
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.roadli{
	padding: 10px;
	overflow: auto;
}
.roadli:hover{
	background: rgb(255,255,255,0.3);
	cursor: pointer;
}
.div_2{
	margin: 4%;
	float:left;
}
.div_1 span{
	border-radius: 50%;
}
a{	

	text-decoration: none;
	padding-top:3%;
	padding-bottom:3%;
	padding-right: 9%;
	padding-left: 9%;
	transition: padding-right 1s,padding-left 1.5s,font-size 1.5s;
	color: white;
	font-size:40px;
	border-radius: 15px;
}
.a1{
	background-image: linear-gradient(to right, rgb(255, 80, 80, 0.5) , rgb(255, 255, 0,0.5));
}
.a2{
	background-image: linear-gradient(to right, rgb(255, 255, 0,0.5) , rgb(102, 255, 51, 0.5));
}
.a3{
	background-image: linear-gradient(to right, rgb(102, 255, 51, 0.5) , rgb(0, 255, 255, 0.5));
}
.a4{
	background-image: linear-gradient(to right, rgb(0, 255, 255, 0.5) , rgb(0, 0, 102,0.5));
}
a:hover{
	padding-right: 14%;
	padding-left: 14%;
}

#go {
	background: gray;
	position: absolute;
	z-index: 9;
	text-align: center;
	opacity: 0.85;
}

#goheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-image: linear-gradient(rgb(121, 121, 210) , rgb(51, 204, 255));
  color: #fff;
  height: 60px;
  font: bold 40px/1.5 'Oleo Script', cursive, sans-serif;
}
form{
	background-color: grey;
	width: 340px;
	left: 50%;
	padding-bottom: 40px;
}
input{
	border-radius: 24px;
	width:300px;
	height:50px;
	text-align: center;
	border: solid;
	border-color: rgb(102, 102, 102);
	font-family: 'Kavoon';
	font-size: 20px;
}
label{
	float: left;
	margin:0;
	margin-left: 30px;
	font-size: 25px;
	text-align: left;
	padding: 0;
	font-family: 'Kavoon';
	color:rgb(204, 255, 255);
}