//样式重置
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: PingFangSC-Regular, sans-serif !important;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.85);
  position: relative;
}
body {
  font-size: 13px;
}
//覆盖谷歌下 填充表单是黄色的
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}

input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-user-focus: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

a:active,
a:hover {
  outline: 0;
}

a,
a:visited {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

span,
i {
  font-style: normal;
}

#app {
  height: 100%;
}
